/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
.my_nav {
  background-color: #26a69a;
}
h5 {
  display: block;
  margin-left: 70px;
}
.indicator-item {
  background-color: #64ffda !important;
  border-radius: 20% !important;
}
.caption {
  font-family: 'Raleway', sans-serif;
  margin-top: -100px;}
.resume {
  display: block;
  position: relative;
  width: 870px;
  padding: 10px 0px 10px 10px;
}
.brand-logo img{

  width: 300px;
  margin: 10px;
}
.small-logo {
  width: 150px;
  margin: 10px 0px -5px 10px;
}

p {

  line-height: 3rem;

}
h3, h4 {font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #c9c9c9;
}

.button-collapse {
  color: #26a69a;
}
/*.slider
{ width: 100%  !important;
  height: 100% !important;}

.slides {
  height: 100% !important;
  width: 100% !important;
}*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: 50px;
  color: #26a69a;
}

footer.page-footer {
  margin: 0;
}
